// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0px;
}

header {
  background: gray;
  padding: 10px;
  margin-bottom: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.checkout-btn {
  float: right;
}

.main-container {
  padding-left: 20px;
}